extends layout

block content
  h1= title
  p Welcome to my library, a treasure trove of carefully selected books and authors. With easy navigation, you can explore a wide range of genres, discover new releases, and find detailed information on each book. Whether you're a casual reader or a book enthusiast, there's something for everyone to enjoy!

  h2 Malavika Velayudhan Nair 
  h3 24251612

  p The library has the following record counts:

  ul
    li #[strong Books:] !{book_count}
    li #[strong Copies:] !{book_instance_count}
    li #[strong Copies available:] !{book_instance_available_count}
    li #[strong Authors:] !{author_count}
    li #[strong Genres:] !{genre_count}
